html, body, #container, #map {
width:100%;
height:100%;
margin:0;
padding:0;
}

#wyszuk {
position: absolute;
z-index:1;
height: 94vh;
min-height: 400px;
margin-left: 2vw;
margin-top: 2vh;
width: 25vw;
background-color: #DED473;
border-radius: 15px;
}

#divnastartcel {
margin: 10% 6%;
background-color:black;
}
#meta {
margin-top:5%;
}
.pytanie {
padding:4%;
font-size: 2.0vw;
width: 87%;
height: 15%;
min-height: 30px;
text-align: center;
border-radius:15px;
border-color: #C8E8ED;
border-width:0.7vw;
}

#divnaszybkowolno {
text-align: center;
}
.trasa1, .trasa2 {
float: left;
text-align: center;
width: 30%;
font-size: 1.5vw;
padding-top:10%;
padding-bottom: 10%;
border-radius:20px;
}
.trasa1 {
margin-left: 7.5%;
}
.wybor{
font-size: 1.8vw;
float:left;
padding: 0 5% 0 5%;
}



.pojazd{
font-size: 40%;
float:left;
padding: 2% 5% 0 5%;
}

img{
background-color: white;
width: 12vw;
height: 15vh;
border-radius: 5vw;
}





@media only screen and (max-width: 900px) {
   nav {width:95%; position:relative; height:auto; font-size: 98%}
	#content {
		width: 98%;
		position:relative;
		height: auto;
	}
	#zas {
		width: 98%;
		position: relative;
		height: auto;
	}
   textarea{width: 70%;}
}