html, body, #container, #map {
width:100%;
height:100%;
margin:0;
padding:0;
}

.pytanie {
padding:4%;
font-size: 6vh;
width: 80%;
height: 35%;
text-align: center;
border-radius:15px;
border-color: #C8E8ED;
border-width:10px;
}

#wyszuk {
position: absolute;
z-index:1;
height: 90%;
margin-left: 2%;
margin-top: 2%;
width: 30%;
background-color: #DED473;
border-radius: 15px;
}

#poczatek {
height: 15%;
text-align: center;
padding-top: 5%;
}

#cel {
margin-top: 1%;
text-align: center;
height: 15%;
<!--padding: 0.5%;-->
}

#trasa {
text-align: center;
}

.rodzajtrasy {
margin-top:3%;
align: center;
}

.wybor{
font-size: 3vh;
float:left;
align: center;
padding: 2% 5% 0 5%;
}
.trasa1, .trasa2 {
float: left;
text_align: center;
width: 30%;
font-size: 4vh;
padding-top:10%;
padding-bottom: 10%;
border-radius:20px;
}
.trasa1 {
margin-left: 7.5%;
}



@media only screen and (max-width: 900px) {
   nav {width:95%; position:relative; height:auto; font-size: 98%}
	#content {
		width: 98%;
		position:relative;
		height: auto;
	}
	#zas {
		width: 98%;
		position: relative;
		height: auto;
	}
   textarea{width: 70%;}
}