<!DOCTYPE html>
<html>
<head>
		<meta charset="UTF-8">
      <title> JAKDOJECHAC</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" >
		<link rel="stylesheet" href="static/index.css" type="text/css"/>

	</head>
<body>
	<div id="map">
	<div id="wyszuk">
		<div id="poczatek">
			<form>
				<input name="start" class="pytanie" placeholder="Skąd przybywasz?">
			</form>
		</div>
		<div id="cel">
			<form>
				<input name="meta" class="pytanie" placeholder="Dokąd zmierzasz?">
			</form>
		</div>
	</div>
	<img src="static/Tlo.png">
	</div>

</body>
</html>