<!DOCTYPE html>
<html>
<head>
		<meta charset="UTF-8">
      	<title> JAKDOJECHAC </title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" >
		<link rel="stylesheet" href="static/index.css" type="text/css"/>
		{{gmaps|safe}}
		<script src="static/googlemap.js" type="text/javascript"> </script>
		<script src="static/index.js" type="text/javascript"> </script>
		<script src="https://code.jquery.com/jquery-3.7.1.min.js" type="text/javascript"> </script>
	</head>
<body>
	<div id="container">

		<div id="wyszuk">

			<div id="divnastartcel">
				<input id="start" class="pytanie" placeholder="Skąd przybywasz?" onkeyup="sendRequest()">
				<input id="meta" class="pytanie" placeholder="Dokąd zmierzasz?" onkeyup="sendRequestM()">
			</div>
			<div id="divnaszybkowolno">
				<form class="rodzajtrasy">
				<input class="trasa1" type="submit" name="opcja_trasy" value="SZYBSZA">
					<p class="wybor">Wybierz</br>trasę</p>
				<input class="trasa2" type="submit" name="opcja_trasy" value="TAŃSZA">
				</form>
			</div>
			<div class="pojazd">
				<img src="static/gitrower.jpg">
				<img src="static/scooter.jpg">
			</div>

		</div>
		<div id="map"></div>
	</div>
</body>
</html>